{% extends 'base.html.twig'%}

{% block body %}
	<div class="container">
		<div class="alert alert-success mt-3" role="alert">
			<h4 class="alert-heading">Attention!</h4>
			<p>A confirmation email has been sent to your email address. 
												     Please check your inbox and follow the instructions to confirm your email.</p>
			<a href="/login" class="btn btn-primary">Go to Sign in</a>
		</div>
	</div>
{% endblock %}
