{% extends 'base.html.twig'%}

{% block title %}View image
{% endblock %}

{% block body %}
	<div class="container">
	{% include 'menu.html.twig' %}
		<img src="{{ asset('images/images_for_print/' ~ image.getImageData())}}" alt="image" style="max-width: 500px; max-height: 500px;">
		<div>
			<form action="{{ path('profile', {'id': image.getProfile().getId()}) }}" method="GET">
				<button type="submit" class="btn btn-primary">Return</button>
			</form>
		</div>
	</div>
{% endblock %}
